/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    background-color: #b2bec3;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.vizitka {
    width: 550px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    margin: 150px auto 0 auto;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
    
}

h1{
    color: #d63031;
    font-weight: 700;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 30px;
}

img{
    border-radius: 50%;
    width: 150px;
    position: absolute;
    right: -75px;
    top: -75px;
    border: 3px solid white;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

p{
    font-size: 18px;
    text-align: justify;
}

.normal {
    letter-spacing: -0.4px;
}

.bottom{
    margin-bottom: 30px;
}

a{
    font-size: 18px;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

}

.twitter{
    margin-bottom: 5px;
    background-color: #1da1f2;
}

.twitter:hover{
    background-color: #0b7bc1;
}

.twitter:focus{
    background-color: #0b7bc1;
}

.facebook{
    background-color: #3b5998;
}

.facebook:hover{
    background-color: #2b406e;
}

.facebook:focus{
    background-color: #2b406e;
}



/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e

font: font-family: 'Nunito', sans-serif;
*/

